body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.header-icon {
    font-size: 10rem;
}

.checked {
    color: orange;
  }

.rate-btn {
    background-color: inherit !important;
    border: 0 !important;
}