body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #171C1F;
}

a {
    color:#171C1F;
}

a:hover {
    color: #A5A640;
}

.nav-links {
    display: inline-block;
}

.nav-links a i {
   padding-top: 1rem;
   font-size: 150%;
}

.nav-links:hover a {
    text-decoration: underline;
    color:#A5A640;

}

.nav-btn {
    background-color: #fff;
    border: solid #171C1F;
    border-radius: 15px;
    color: #171C1F;

}

.nav-btn:hover {
    background-color: #A5A640;
    border: solid #A5A640;
}

.header-icon {
    font-size: 10rem;
}

 /*, .carousel-indicators */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-caption {
   background: rgba(0, 0, 0, 0.3);
   color: #fff;
   opacity: 0;
}

.carousel-item:hover .carousel-caption {
   opacity: 1;
}

.checked {
    color: #A5A640;
  }

.rate-btn {
    background-color: inherit !important;
    border: 0 !important;
}

.teaser-see-more {
    color: #171C1F;
}

/*Forms*/
.card {
    border: solid #171C1F;
}

.form-background {
    background-color: #D2CFCC;
}


/* Footer */
.accordion-button {
    border: solid #171C1F;
}

.accordion-button:hover {
    background-color: #A5A640;
    border: solid #A5A640;
}