body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #171C1F;
}

a, a h1 {
    color: #171C1F;
}

a:hover, a h1:hover {
    color: #A5A640;
}

.nav-links {
    font-size: 100%;
    color: #171C1F;

}

.nav-links:hover {
    text-decoration: underline;
    color: #A5A640;

}

.nav-btn {
    background-color: #fff;
    border: solid #171C1F;
    border-radius: 15px;
    color: #171C1F;

}

.un-liked-btn {
    border: none;
    background-color: #fff;
}

.un-liked-btn:hover {
    color: #A5A640;
}

.liked-btn {
    color: #A5A640;
    background-color: #fff;
    border: none;
}

.nav-btn:hover {
    background-color: #A5A640;
    border: solid #A5A640;
}

.header-icon {
    font-size: 10rem;
}

#strapline {
    color: #171C1F;
}

/*, .carousel-indicators */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    opacity: 0;
}

.carousel-item:hover .carousel-caption {
    opacity: 1;
}

.checked {
    color: #A5A640;
}

.rate-btn {
    background-color: inherit !important;
    border: 0 !important;
}

.teaser-see-more {
    color: #171C1F;
}

/*Forms*/
.card {
    border: solid #171C1F;
}

/* .form-background {
    background-color: #D2CFCC;
} */


#for-rent {
    background-color: #A5A640;
}


/* Footer */
.accordion-button {
    border: solid #171C1F;
}

.accordion-button:hover {
    background-color: #A5A640;
    border: solid #A5A640;
}