{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!--Main content code-->
{% block content %}
<div class="row m-2">
    <div class="col">
        <h2>Write a review</h2>
    </div>
</div>
<div class="row m-2">
    <div class="col">
        <h6>Your honest reviews help new tenants find the best bang for their buck and promote the best landlords!</h6>
    </div>
</div>
<div class="card">
    <div class="row m-2">
        <div class="col">
            <label for="property">
                <h4>Your property:</h4>
            </label>
        </div>
    </div>
    <div class="row mx-2 justify-content-left">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h5 id="property">{{ property.title }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>{{ property.street_address}},
                        {% if property.address_street2 %}
                        {{ property.address_street2 }}, {% endif %} {{ property.address_town }},
                        {{ property.address_county }},
                        {{ property.address_postcode }}, {{ property.address_country }}</h5>
                </div>
            </div>
        </div>
        <div class="col-6"><img class=" w-100 img-thumbnail" src="{{ property.images.url }}"
                alt="Image of property provided by landlord">
        </div>
    </div>

    {% crispy form form.helper %}

        <!--
        <div class="row m-2">
            <div class="col">
                <label for="condition_of_property">
                    <h4>Condition of property:</h4>
                </label>
            </div>
            <div class="col">
                <button type="button" class="fa fa-star rate-btn" id="1.1"></button>
                <button type="button" class="fa fa-star rate-btn" id="2.1"></button>
                <button type="button" class="fa fa-star rate-btn" id="3.1"></button>
                <button type="button" class="fa fa-star rate-btn" id="4.1"></button>
                <button type="button" class="fa fa-star rate-btn" id="5.1"></button>
            </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <label for="quality_of_landlord">
                    <h4>Quality of landlord:</h4>
                </label>
            </div>
            <div class="col">
                <button type="button" class="fa fa-star rate-btn" id="1.2"></button>
                <button type="button" class="fa fa-star rate-btn" id="2.2"></button>
                <button type="button" class="fa fa-star rate-btn" id="3.2"></button>
                <button type="button" class="fa fa-star rate-btn" id="4.2"></button>
                <button type="button" class="fa fa-star rate-btn" id="5.2"></button>
            </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <label for="rate_the_neighbourhood">
                    <h4>Rate the neighbourhood:</h4>
                </label>
            </div>
            <div class="col">
                <button type="button" class="fa fa-star rate-btn" id="1.3"></button>
                <button type="button" class="fa fa-star rate-btn" id="2.3"></button>
                <button type="button" class="fa fa-star rate-btn" id="3.3"></button>
                <button type="button" class="fa fa-star rate-btn" id="4.3"></button>
                <button type="button" class="fa fa-star rate-btn" id="5.3"></button>
            </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <label for="value_for_money">
                    <h4>Value for money:</h4>
                </label>
            </div>
            <div class="col">
                <button type="button" class="fa fa-star rate-btn" id="1.4"></button>
                <button type="button" class="fa fa-star rate-btn" id="2.4"></button>
                <button type="button" class="fa fa-star rate-btn" id="3.4"></button>
                <button type="button" class="fa fa-star rate-btn" id="4.4"></button>
                <button type="button" class="fa fa-star rate-btn" id="5.4"></button>
            </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <label for="standard_of_amenities_nearby">
                    <h4>Standard of amenities nearby:</h4>
                </label>
            </div>
            <div class="col">
                <button type="button" class="fa fa-star rate-btn" id="1.5"></button>
                <button type="button" class="fa fa-star rate-btn" id="2.5"></button>
                <button type="button" class="fa fa-star rate-btn" id="3.5"></button>
                <button type="button" class="fa fa-star rate-btn" id="4.5"></button>
                <button type="button" class="fa fa-star rate-btn" id="5.5"></button>
            </div>
        </div>
        <div class="row mx-2">
            <div class="col">
                <label for="images">
                    <h4>Images:</h4>
                </label>
            </div>
            <div class="col">
                <input class="form-control me-2" type="image" aria-label="Images to upload" name="images" id="images">
            </div>
        </div>-->
        <!-- <div class="row mx-2 justify-content-center">
            <div class="col col-lg-6">
                <button class="form-control m-2 nav-btn" type="submit" name="save" value="save">
                    Add Review
                </button>
            </div>
        </div> -->

    </form>
</div>

{% endblock %}