{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!--Main Content Code-->
{% block content %}
<div class="row m-2">
    <div class="col">
        <h2>Add a property to RatemyRoom</h2>
    </div>
</div>
<div class="row m-2">
    <div class="col">
        <p>In order for RatemyRoom to benefit both Landlords and Tenants we rely on accurate representation of
            properties to be uploaded. Allow your rental to stand out from the crowd and add it here!!</p>
    </div>
</div>
<div class="card form-background">
    <div class="row m-2">
        <div class="col">
            {% crispy form form.helper %}
        </div>
    </div>
</div>
{% endblock %}