{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!--Main content code-->
{% block content %}

<div class="row m-2">
    <div class="col">
        <h2>Write a review</h2>
    </div>
</div>
<div class="row m-2">
    <div class="col">
        <h6>Your honest reviews help new tenants find the best bang for their buck and promote the best landlords!</h6>
    </div>
</div>
<div class="card">
    <div class="row m-2">
        <div class="col">
            <label for="property">
                <h4>Your property: {{ property }}</h4>
            </label>
        </div>
    </div>
    <div class="row mx-2 justify-content-left">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h5 id="property">{{ property.title }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>{{ property.street_address}},
                        {% if property.address_street2 %}
                        {{ property.address_street2 }}, {% endif %} {% if property.address_town %} {{ property.address_town }},{% endif %}
                        {% if property.address_county %} {{ property.address_county }}, {% endif %}
                        {% if property.address_postcode %} {{ property.address_postcode }}, {% endif %} {% if property.address_country %} {{ property.address_country }} {% endif %}</h5>
                </div>
            </div>
        </div>
        <div class="col-6"><img class=" w-100 img-thumbnail" src="{{ property.images.url }}"
                alt="Image of property provided by landlord">
        </div>
    </div>

    {% crispy form form.helper %}


    </form>
</div>


{% endblock %}