{% extends 'base.html' %}

<!--Header and Navbar Code-->
{% block header %}
<a href="#" class="d-none d-md-inline-block d-lg-none me-1"><i class="fa-solid fa-pencil fa-2x"></i></a>
<a href="#" class="d-none d-lg-inline-block me-1 text-decoration-none"><i
        class="fa-solid fa-pencil fa-2x"></i>Review</a>
<a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-heart fa-2x"></i></a>
<a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-heart fa-2x"></i>Likes</a>
<a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-bell fa-2x"></i></a>
<a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-bell fa-2x"></i>Alerts</a>
<!--Logged in view differs as nav bar buttons change depending on user type-->
{% if user.is_ll_or_ea %}
<a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-plus fa-2x"></i></a>
<a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-plus fa-2x"></i>Add a
    property</a>
{% endif %}
<a href="#" class="d-inline-block"><i class="fa-solid fa-user fa-2x"></i></a>
{% endblock %}

<!--Main Content Code-->
{% block content %}
<div class="row m-2">
    <div class="col">
        <h2>Add a property to RatemyRoom</h2>
    </div>
</div>
<div class="row m-2">
    <div class="col">
        <p>In order for RatemyRoom to benefit both Landlords and Tenants we rely on accurate representation of
            properties to be uploaded. Allow your rental to stand out from the crowd and add it here!!</p>
    </div>
</div>
<form action="">
<div class="row m-2">
    <div class="col">
        <h4>Select your property type</h4>
    </div>
</div>
</form>
{% endblock %}