{% extends 'base.html' %}

<!--Header and Navbar Code-->
{% block header %}
<a href="#" class="d-none d-md-inline-block d-lg-none me-1"><i class="fa-solid fa-pencil fa-2x"></i></a>
<a href="#" class="d-none d-lg-inline-block me-1 text-decoration-none"><i
        class="fa-solid fa-pencil fa-2x"></i>Review</a>
<a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-heart fa-2x"></i></a>
<a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-heart fa-2x"></i>Likes</a>
<a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-bell fa-2x"></i></a>
<a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-bell fa-2x"></i>Alerts</a>
<!--Logged in view differs as nav bar buttons change depending on user type-->
{% if user.is_ll_or_ea %}
<a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-plus fa-2x"></i></a>
<a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-plus fa-2x"></i>Add a
    property</a>
{% endif %}
<a href="#" class="d-inline-block"><i class="fa-solid fa-user fa-2x"></i></a>
{% endblock %}

<!--Main Content Code-->
{% block content %}
<div class="row m-2">
    <div class="col-8">
        <h2>{{ property.title }}</h2>
    </div>
    <div class="col-4 text-end">
        <a href="#" class="d-inline-block me-1"><i class="fa-solid fa-pencil fa-2x"></i></a>
        <a href="#" class="d-inline-block mx-1"><i class="fa-solid fa-heart fa-2x"></i></a>
    </div>
</div>
<div class="row m-2">
    <div class="col-4">Stars</div>
    <div class="col-8">Number of reviews</div>
</div>
<div class="row m-2">
    <div class="col">
        <a href="#" class="text-decoration-none"><i class="fa-solid fa-location-dot"></i> {{ property.street_address}},
            {{ property.address_street2 }}, {{ property.address_town }}, {{ property.address_county }},
            {{ property.address_postcode }}, {{ property.address_country }}</a>
    </div>
</div>
<div class="row mx-0">
    <div class="col mx-0 px-0">
        <img src="{{ property.images.url }}" alt="Photo of rental uploaded by the landlord or estate agent"
            class="w-100">
    </div>
</div>
<div class="row m-2">
    <div class="col">
        <h2>Reviews</h2>
    </div>
    <hr>
</div>

{% for review in reviews %}
<div class="row m-2">
    <div class="col-4 d-inline-block">{{ review.user }}</div>
    <div class="col-4 d-inline-block">{{ review.overall_rating }}</div>
    <div class="col-4 d-inline-block text-end">{{ review.date_reviewed }}</div>
</div>
<div class="row m-2">
    <div class="col">
        <h4>{{ review.title }}</h4>

    </div>
</div>
<div class="row m-2">
    <div class="col">{{ review.content }}</div>
</div>
<div class="row m-2">
    <div class="col-6"><strong>Rented from:</strong> {{ review.date_rented_from }}</div>
    <div class="col-6 text-end"><strong>To:</strong> {{ review.date_rented_to }}</div>
</div>
<hr>
{% endfor %}
{% endblock %}