{% extends 'base.html' %}

<!--Header and Navbar Code-->
{% block header %}
<div class="nav-links">
    <a href="{% url 'add_review' %}" class="d-none d-md-inline-block d-lg-none me-1"><i
            class="fa-solid fa-pencil "></i></a>
    <a href="{% url 'add_review' %}" class="d-none d-lg-inline-block me-1 text-decoration-none"><i
            class="fa-solid fa-pencil "></i> Review</a>
</div>
<div class="nav-links">
    <a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-heart "></i></a>
    <a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-heart"></i> Likes</a>
</div>
<div class="nav-links">
    <a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-bell "></i></a>
    <a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-bell "></i> Alerts</a>
</div>
<!--Logged in view differs as nav bar buttons change depending on user type-->
{% if user.is_ll_or_ea %}
<a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-plus fa-2x"></i></a>
<a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-plus fa-2x"></i>Add a
    property</a>
{% endif %}
<a href="#" class="d-inline-block"><i class="fa-solid fa-user fa-2x"></i></a>
{% endblock %}

<!--Main Content code-->
{% block content %}
<div class="row justify-content-center text-center position-absolute bottom-50 w-100 g-0">
    <div class="col-8 col-md-6">
        <form class="d-flex" role="search" method="POST" action="{% url 'search_properties_for_review' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search by Postcode" aria-label="Search"
                name="searched">
            <button class="btn btn-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div>

{% endblock %}