{% extends 'base.html' %}

<!--Header and Navbar Code-->
{% block header %}
<div class="nav-links">
    <a href="{% url 'search_form' %}" class="d-none d-md-inline-block d-lg-none me-1"><i
            class="fa-solid fa-pencil "></i></a>
    <a href="{% url 'search_form' %}" class="d-none d-lg-inline-block me-1 text-decoration-none"><i
            class="fa-solid fa-pencil "></i> Review</a>
</div>
<div class="nav-links">
    <a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-heart "></i></a>
    <a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-heart"></i> Likes</a>
</div>
<div class="nav-links">
    <a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-bell "></i></a>
    <a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-bell "></i> Alerts</a>
</div>
<!--Logged in view differs as nav bar buttons change depending on user type-->
{% if user.is_ll_or_ea %}
<a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-plus fa-2x"></i></a>
<a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-plus fa-2x"></i>Add a
    property</a>
{% endif %}
<a href="#" class="d-inline-block"><i class="fa-solid fa-user fa-2x"></i></a>
{% endblock %}

<!--Main Content code-->
{% block content %}
{% if searched %}
<div class="row mx-2">
    <div class="col">
        <h1>You searched for {{ searched }}</h1>
    </div>
</div>

{% for property in properties %}
<div class="row mx-0">
    <div class="col mx-2">
        <a class="text-decoration-none" href=" {% url 'property_detail' property.slug %} ">{{ property }}
        </a>
    </div>
    <div class="col me-2"><img class="w-100" src="{{ property.images.url }}" alt="Image of property uploaded by landlord">
    </div>
</div>
{% endfor %}

{% else %}
<h1> You forgot to search for a property. Please search for a valid property</h1>

{% endif %}
{% endblock %}