{% extends 'base.html' %}

<!--Header and Navbar Code-->
{% block header %}
<div class="nav-links">
    <a href="{% url 'search_form' %}" class="d-none d-md-inline-block d-lg-none me-1"><i
            class="fa-solid fa-pencil "></i></a>
    <a href="{% url 'search_form' %}" class="d-none d-lg-inline-block me-1 text-decoration-none"><i
            class="fa-solid fa-pencil "></i> Review</a>
</div>
<div class="nav-links">
    <a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-heart "></i></a>
    <a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-heart"></i> Likes</a>
</div>
<div class="nav-links">
    <a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-bell "></i></a>
    <a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-bell "></i> Alerts</a>
</div>
<!--Logged in view differs as nav bar buttons change depending on user type-->
{% if user.is_ll_or_ea %}
<a href="#" class="d-none d-md-inline-block d-lg-none mx-1"><i class="fa-solid fa-plus fa-2x"></i></a>
<a href="#" class="d-none d-lg-inline-block mx-1 text-decoration-none"><i class="fa-solid fa-plus fa-2x"></i>Add a
    property</a>
{% endif %}
<a href="#" class="d-inline-block"><i class="fa-solid fa-user fa-2x"></i></a>
{% endblock %}

<!--Main Content code-->
{% block content %}
{% if searched %}
<div class="row mx-2">
    <div class="col">
        <h1>You searched for {{ searched }}</h1>
    </div>
</div>

{% for property in searched_properties %}
<div class="card">
    <div class="row mx-0 d-flex">
        <div class="col-4 my-2"><img class="thumbnail w-100" src="{{ property.images.url }}"
                alt="Image of property uploaded by landlord">
        </div>
        <div class="col-8">
            <div class="row mt-4">
                <div class="col-12">
                    <a href="{% url 'property_detail' property.slug %}" class="text-decoration-none">
                        <h5>{{ property.title }}</h5>
                    </a>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-4">
                    {% for p in properties %}
                    {% if p.slug == property.slug %}
                    <h4>{% for key, value in p.average_property_rating.items %}</h4>
                    {% include 'star-rating.html' %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-4">
                    {% for p in properties %}
                    {% if p.slug == property.slug %}
                    {% if p.review_count == 1 %}
                    <h4>{{ p.review_count }} review</h4>
                    {% else %}
                    <h4>{{ p.review_count }} reviews</h4>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row p-0">
                <div class="col-12">
                    <p>{{ property.street_address}},
                        {% if property.address_street2 %}
                        {{ property.address_street2 }}, {% endif %} {{ property.address_town }},
                        {{ property.address_county }},
                        {{ property.address_postcode }}, {{ property.address_country }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% else %}
<h1> You forgot to search for a property. Please search for a valid property</h1>

{% endif %}
{% endblock %}