{% extends 'base.html' %}

<!--Main Content code-->
{% block content %}
<div class="row justify-content-center text-center">
    <div class="col">
        <h2>Share your experience,</h2>
        <h2>write a review.</h2>
    </div>
</div>
<div class="row my-5 justify-content-center text-center">
    <div class="col-8">
        <form class="d-flex" role="search" method="POST" action="{% url 'search_properties_for_review' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search by Postcode" aria-label="Search"
                name="searched" required>
            <button class="btn btn-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div>

{% endblock %}