{% if value|floatformat:0 == '1' %}
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn"></span>
        <span class="fa fa-star rate-btn"></span>
        <span class="fa fa-star rate-btn"></span>
        <span class="fa fa-star rate-btn"></span>
        {% elif value|floatformat:0 == '2' %}
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn"></span>
        <span class="fa fa-star rate-btn"></span>
        <span class="fa fa-star rate-btn"></span>
        {% elif value|floatformat:0 == '3' %}
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn"></span>
        <span class="fa fa-star rate-btn"></span>
        {% elif value|floatformat:0 == '4' %}
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn"></span>
        {% elif value|floatformat:0 == '5' %}
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn checked"></span>
        <span class="fa fa-star rate-btn checked"></span>
        {% endif %}