{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!--Main Content code-->
{% block content %}
{% if user.is_authenticated %}

<div class="row m-2 text-start">
    <div class="col">
        <h2>{{ user.username }}</h2>
        <h6>Name: {{ user.first_name }} {{ user.last_name }}</h6>
        <h6>Email: {{ user.email }}</h6>
    </div>
</div>
<div class="row m-2">
    <div class="col">
        {% for property in properties %}
        {% if property.ll_or_ea == user %}
        {{ property|length }} <h4>Properties</h4>
        {% else %}
        <h4>0 Properties</h4>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row m-2">
    <div class="col">
        {% for review in reviews %}
        {% if review.user == user %}
        {{ review.count }} <h4>Reviews</h4>

        {% else %}
        <h4>0 Reviews</h4>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row mt-5 mx-2"><div class="col">
    <h4>Edit your profile details below:</h4>
</div></div>
<div class="row mt-2 mx-2 justify-content-center text-center">
    <div class="col col-md-8 lg-md-6 card p-2 text-start">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row d-block justify-content-center text-center">
                <div class="col-12 mt-2">
                    <button type="submit" class="btn btn-primary nav-btn">Update Profile!</button>
                </div>
            </div>

        </form>
    </div>
</div>

{% else %}

<div class="row justify-content-center text-center mt-5 pt-5">
    <div class="col">
        <h2>Oops! You have stumbled upon this page as a registered user</h2>
        <a href="{% url 'homepage' %}">
            <h4>Please click here to return to the homepage</h4>
        </a>
    </div>
</div>

{% endif %}

{% endblock %}