{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!--Main Content code-->
{% block content %}
{% if user.is_authenticated %}

<div class="row justify-content-center text-center mt-5 pt-5">
    <div class="col">
        <h2>Oops! You have stumbled upon this page as a logged in user</h2>
        <a href="{% url 'homepage' %}">
            <h4>Please click here to return to the homepage</h4>
        </a>
    </div>
</div>
{% else %}

<div class="row justify-content-center text-center">
    <div class="col">
        <h2>Login to RatemyRoom!</h2>
        <h4>Login below to access more features!</h4>
    </div>
</div>
<div class="row my-5 mx-2 justify-content-center text-center">
    <div class="col col-md-8 lg-md-6 card p-2">
        <form role="login" method="POST" action="{% url 'homepage' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="row d-block">
                <div class="col-12 mt-2">
                    <button type="submit" class="btn btn-primary nav-btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row mx-2 justify-content-center text-center">
    <div class="col col-md-8 lg-md-6 p2">
        <p>Not a member?</p>
        <a href="{% url 'register' %}" class="text-decoration-none"><p><strong class="text-decoration-underline">Join</strong> to gain exclusive access to more features!</p></a>
    </div>
</div>

{% endif %}

{% endblock %}