{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!--Main Content Code-->
{% block content %}
<div class="row m-2">
    <div class="col">
        <h2>Deleting your Profile</h2>
        <h4>We're sorry to see you go!</h4>
    </div>
</div>

<div class="row m-2">
    <div class="col">
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>
</div>
{% endblock %}